<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>custdetailsform</display-name>
    <servlet-name>custdetailsform</servlet-name>
    <servlet-class>BGGym.custdetailsform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custdetailsform</servlet-name>
    <url-pattern>/custdetailsform</url-pattern>
  </servlet-mapping>
  <display-name>BGWebSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>BGGym.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custdetailsServlet</display-name>
    <servlet-name>custdetailsServlet</servlet-name>
    <servlet-class>BGGym.custdetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custdetailsServlet</servlet-name>
    <url-pattern>/custdetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custdeleteServlet</display-name>
    <servlet-name>custdeleteServlet</servlet-name>
    <servlet-class>BGGym.custdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custdeleteServlet</servlet-name>
    <url-pattern>/custdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custeditServlet</display-name>
    <servlet-name>custeditServlet</servlet-name>
    <servlet-class>BGGym.custeditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custeditServlet</servlet-name>
    <url-pattern>/custeditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custsearchServlet</display-name>
    <servlet-name>custsearchServlet</servlet-name>
    <servlet-class>BGGym.custsearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custsearchServlet</servlet-name>
    <url-pattern>/custsearchServlet</url-pattern>
  </servlet-mapping>
</web-app>